::-webkit-input-placeholder{
    font-size: 14px;
    color: #737272;
}
::-moz-placeholder{
    font-size: 14px;
    color: #737272;
}
::-ms-input-placeholder{
    font-size: 14px;
    color: #737272;
}
:-moz-placeholder{
    font-size: 14px;
    color: #737272;
}

*:focus::-webkit-input-placeholder{
    color:transparent;
}
*:focus::-moz-placeholder{
    color:transparent;
}
*:focus::-ms-input-placeholder{
    color:transparent;
}
*:focus:-moz-placeholder{
    color:transparent;
}


option {
    width: 200px;
}

input[type="text"] {
    width: 500px;
    padding: 5px 10px;
    margin: 5px 10px;
}

#valid {
    width: 550px;
    margin-bottom: 100px;
}

input[type="submit"] {
    float: right;
    margin-right: 15px;
    height: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: red;
}

.before-submit {
    padding-left: 35px;
    color: red;
}

#wrapper {
    height: 200px;
    width: 1000px;
    background-color: lightgray;
    display: block;
    margin-top: 50px;
}

#animator {
    margin: 50px auto 0;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 50px;
    width: 50px;
    background-color: red;
}

input.input-text {
    width: 100px;
    height: 20px;
}